* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif !important;
  text-decoration: none;
}

body {
  background: #05080d;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* START Menu Itens */
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li a {
  display: block;
  padding: 16px 20px;
  color: #FFFFFF;
  border-radius: 3px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

header nav ul li a:hover {
  background: rgba(255, 255, 255, 0.09);
}

/* END Menu Itens */
.cart-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

/* START cart */
header .cart {
  position: relative;
}

header .cart a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  line-height: 0;
  padding: 10px 15px 10px 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .cart a:hover {
  background: rgba(255, 255, 255, 0.09);
}

header .cart .notification-cart {
  position: absolute;
  top: 7px;
  right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  font-weight: bold;
  border-radius: 100%;
  background: #F35E38;
  font-size: 0.6875em;
  color: #FFFFFF;
  pointer-events: none;
}

/* END Cart */
.container {
  width: 1242px;
  margin: 0 auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* START Profile */
.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding: 8px 16px;
  border-radius: 3px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  font-weight: bold;
  color: #FFFFFF;
}

.profile:hover {
  background: rgba(255, 255, 255, 0.09);
}

.profile .photo-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: green;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: 100%;
  background-image: url("../img/profile.jpeg");
}

.profile .name-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
          column-gap: 6px;
}

/* END Profile */
/* START main home */
.main-home {
  margin-top: -62px;
}

.main-home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 80px;
          column-gap: 80px;
}

.main-home .filters {
  width: 20%;
}

.main-home .games {
  width: 80%;
  background: red;
}

/* END main home */
.main-home .filters button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
  cursor: pointer;
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875em;
  background: #1B2939;
  outline: none;
  margin-bottom: 2px;
  letter-spacing: 0.05em;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
}

.main-home .filters button.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.main-home .filters button:nth-child(1) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.main-home .filters button:nth-child(3) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.main-home .filters button:nth-child(5) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.main-home .filters button:nth-child(7) {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.main-home .filters a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #2BB2BF;
  font-size: 14px;
}

.main-home .filters a:hover {
  text-decoration: underline;
}

.accordion svg {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.accordion.is-open svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.accordion-content {
  padding: 0px 10px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@-webkit-keyframes opacityAnim {
  from {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes opacityAnim {
  from {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */